files:
  "/opt/elasticbeanstalk/hooks/appdeploy/post/01_create_dirs.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/bash
      mkdir -p /var/app/current/data
      mkdir -p /var/app/current/uploads
      chown -R webapp:webapp /var/app/current/data
      chown -R webapp:webapp /var/app/current/uploads
