# Capacitor generated folders
ios/Pods/
ios/build/
ios/DerivedData/
ios/*.xcworkspace/xcuserdata
ios/*.xcodeproj/xcuserdata
ios/*.xcodeproj/project.xcworkspace/xcuserdata

android/build/
android/.gradle/
android/app/build/
android/local.properties
android/.idea/
android/captures/

# Node
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
